.current-music-cont {
    max-width: 20%;
    align-items: center;
}

.song-image {
    max-width: 20%;
    max-height: 75%;
    margin: 0px 3px;
    aspect-ratio: 1/1;
}

.song-details .author {
    opacity: 0.5;
}