.home-container {
    height: 100vh;
}

header {
    display: block;
    background-color: #333;
    padding: 1rem;
}

.animate-charcter
{
    background-image: linear-gradient(
        -225deg,
        #0f9468 0%,
        #c4a4e7 29%,
        #ff1361 67%,
        #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
}

.player-container {  
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  background-color: #333;
  text-align: center;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.song-select-text {
  width: 100%;
  font-family: 'Courier New', Courier, monospace; 
  text-align: center;
  color: white;
}